@font-face {
  font-family: LevelOne;
  src: url('../fonts/LevelOne.woff');
}

html, body {
  font: 14px LevelOne, "Lucida Grande", Helvetica, Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../images/bg-light.jpg');
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}
tr {
  text-align: justify-all;
}

.small {
  font-size; 10px;
}

.tiny {
  font: 8px Arial;
}

.tinytable {
  font: 0.75em Arial;
}

.tinytable td {
  vertical-align: top;
}

.label {
  width: 80px;
  font-size: 100% !important;
}

.logo {
  width: 150px;
}

#logosection {
  float: right;
  padding: 5px;
  margin: 10px;
}

h1 {
  font-size: 4em !important;
}

#header {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#heading {
  float: left;
  width: 70%;
}

#heading h1 {
    color: #F4FCFE;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    margin-top: 10px !important;
}
    
.deepshadow {
  font-family: LevelOne;
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #2e2e2e, 
    0 2px 0 #2c2c2c, 
    0 3px 0 #2a2a2a,  
    0 5px 10px rgba(0, 0, 0, 0.5);
}

#wrapper {
  min-height: 100%;
  position: relative;
}         
      
#content {
  text-align: none;
  padding-bottom: 20px;
}

#playbackdata {
  text-align: left;
  height: 405px;
  color: white;
}

#data_fragment {
  height: 20px;
}

#data_player {
  height: 40px;
}

#playercontrols {
  clear: left;
  text-align: left;
  max-width: 90%;
}

#playercontrols label {
  padding: 10px;
}

#drm {
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
  margin-left: -10px;
}

#videocontent {
  margin: 25px;
  background-color: #000000;
  position: relative;
}

#videocanvas {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: -25px;
}

#video-container {
  /*position: relative;*/
  max-width: 720px;
  float: left;
}

#textoverlay {
  position: absolute;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  height: 70px;
  width: 500px;
  top: 500px;
  display: none;
  color: white;
  font: 12px Arial;
  text-align: left;
  padding-left: 20px;
}

#errorbox {
  position: absolute;
  z-index: 12;
  background-color: rgba(128, 0, 0, 0.5);
  margin-top: 140px;
  height: 80px;
  width: 720px;
  display: none;
  color: white;
  font: 16px Arial;
  /*text-align: center;*/
}

#realtimemetrics {
  width: 1114px;
}

#canvas_fragments {
  width: 1114px;
  height: 200px;
  border: 1px solid #000000;
  border-radius: 10px;
}
#extra {
  padding: 25px;
  padding-top: 60px;
}

#canvas_pipeline {
  width: 1114px;
  height: 200px;
  border: 1px solid #000000;
  display: none;
}

#canvas_bandwidth {
  width: 1114px;
  height: 200px;
  border: 1px solid #000000;
  display: none;
}

#drmdata {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; 
  width: 1114px;
  display: none;
}
/************/
/*
Eyevinn färger #2EBCED, #4EC3EE, #91D7F3, #C9EAF8, #EFF6FB*/
.eyeVinn {
  background-color: rgba(0,0,0,0.6);
  padding: 10px;
  margin-right: 10px;
}

#controlButtons{
  z-index: 10;
  position: absolute;
  padding-top: 10px;/*
  background-color: white;
  /*verflow: auto;*/
  width: 720px;
}

.controlButtons1{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
  background-color: white;
  /*overflow: auto;*/)
}

.glyphicon {
  font-size: 1.5em;
  vertical-align: middle;
  text-align: center;
  color: rgba(0,0,0,0.7);
}

button:active .glyphicon{
  /*font-size: 2em;
  */
  color: rgba(255,255,255,1);
}

#start, #stop, #pause, #plus, #minus, #mute, #firstPlay, #debug, #fullScreen, #overlayButton, #metricsButton{
  float: left;
  padding: 10px;
  margin: 1px;
  font-size: 15px;
  border-color: rgba(0,0,0,0.7);
  border-style: solid;
  border-radius: 10px;
  background-color: #FFFFFF;
}

#laUrl, #level {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;   
  background-color: rgba(0,0,0,0.05);
  height: 30px;
  border-radius: 10px;
}
#laUrl, #manifestUrl {
  width: 550px;
  border-color: rgba(0,0,0,0.4);
}
#level {
  width: 190px;
  border-radius: 10px;
}
#controlButtons button:hover {
  background-color: rgba(0,0,0,0.2);
}
.controlButtons1 button:hover {
  background-color: rgba(0,0,0,0.2);
}
#extra button:hover {
  background-color: rgba(0,0,0,0.2);
}
#firstPlay:hover{
  background-color: rgba(0,0,0,0.2);
}
#debug:hover{
  background-color: rgba(0,0,0,0.2);
}

#firstPlay, #debug {
  float: initial;
}

#start:hover {
  background-color: rgba(0,0,0,0.2);
}

#progressBar {
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0,0,0,0.6);
  border-width: 2px;
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0,0,0,0.05);
  float: left;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
}
#loadingProgress {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: inherit;
  background-color: #2EBCED;
}

#countDown {
  padding: 25px;
  font-style: italic;
  font-size: 0.9em;
}

#manifestUrl{
  text-align: center;
  margin: 10px;
  background-color: rgba(0,0,0,0.05);
  height: 30px;
  border-radius: 10px;
}
